[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
gradio = "*"
pypdf = "*"
langchainhub = "*"
tiktoken = "*"
langgraph = "*"
beautifulsoup4 = "*"
pdfplumber = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.12"
